body {
  margin: 0;
  font-family: pkmn_RBYGSC;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "pkmn_RBYGSC";
  src: local("pkmn_RBYGSC"), url("./fonts/pkmn_RBYGSC.ttf") format("truetype");
  font-weight: normal;
}
